body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=51031");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#root, app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
